#nav {
    /* background-color: aqua; */
    border: 0;
    margin-bottom: 30px;
    margin-top: 20px;
    z-index: 10;
}

#nav a {
    color: #222;
    font-size: 16px;
    font: Arial, non-serif;
}

#nav a:hover {
    color: #00bbf9;
}

#nav > div {
    padding: 0;
}

.logo {
    max-width: 50px;
    max-height: 50px;
    position: absolute; right:-120px;
    z-index: 0;
    /* transform: scaleX(-1); */
}
