* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


/* #map { 
  height: 100vh; 
  width: 50%;
} */

.leaflet-container {
  width: 100%;
  height: 65vh;
  
}

/* .popup {
  background-color: #282c34;
} */

.map-bar-pic {
  max-width: 75px;
  max-height: 75px;
}

#neighborhoodSelector {
  border: 2px solid #222;
  border-radius: 0;
  width: 250px;
}

#signup-form {
  padding-top: 75px;
  margin-bottom: 50px;
  padding-left: 75px;
  padding-right: 75px;
}

#login-form {
  padding-top: 75px;
  margin-bottom: 50px;
  padding-left: 75px;
  padding-right: 75px;
}

.splash-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  
}

.splash-page {
  z-index: 20;
}

.splash-text-center {
  z-index: 20;
  text-align: center;
}